$radius-1: 0.0625rem; // 1px
$radius-2: 0.125rem; // 2px
$radius-3: 0.25rem; // 4px
$radius-4: 0.375rem; // 6px
$radius-5: 0.5rem; // 8px
$radius-6: 0.75rem; // 12px
$radius-7: 1rem; // 16px
$radius-8: 1.5rem; // 24px
$radius-9: 2rem; // 32px
