$color-white: #ffffff;
$color-black: #000000;

$color-gray-100: #f5f5f5;
$color-gray-200: #efefef;
$color-gray-300: #dfdfdf;
$color-gray-400: #cccccc;
$color-gray-500: #b3b3b3;
$color-gray-600: #999999;
$color-gray-700: #808080;
$color-gray-800: #666666;
$color-gray-900: #4d4d4d;

$color-blue-100: #e0f3ff;
$color-blue-200: #b3e1ff;
$color-blue-300: #80cdff;
$color-blue-400: #4db8ff;
$color-blue-500: #1aa3ff;
$color-blue-600: #339ee6;
$color-blue-700: #4d94d9;
$color-blue-800: #337ac2;
$color-blue-900: #2b66a3;
