$color-gray-100: #fafafa;
$color-gray-200: #e0e0e0;
$color-gray-300: #cfcfcf;
$color-gray-400: #b1b1b1;
$color-gray-500: #939393;
$color-gray-600: #6f6f6f;
$color-gray-700: #414141;
$color-gray-800: #2e2e2e;
$color-gray-900: #181818;

$color-blue-100: #e0f3ff;
$color-blue-200: #b3e1ff;
$color-blue-300: #80cdff;
$color-blue-400: #4db8ff;
$color-blue-500: #1aa3ff;
$color-blue-600: #339ee6;
$color-blue-700: #4d94d9;
$color-blue-800: #337ac2;
$color-blue-900: #2b66a3;

$color-red: rgb(206, 84, 84);
