$color-white: #ffffff;
$color-black: #000000;

$color-gray-100: #ebebeb;
$color-gray-200: #dcdcdc;
$color-gray-300: #cccccc;
$color-gray-400: #b3b3b3;
$color-gray-500: #999999;
$color-gray-600: #808080;
$color-gray-700: #666666;
$color-gray-800: #4d4d4d;
$color-gray-900: #333333;

$color-blue-100: #d6e4ff;
$color-blue-200: #adc8ff;
$color-blue-300: #84a9ff;
$color-blue-400: #6690ff;
$color-blue-500: #3366ff;
$color-blue-600: #254eda;
$color-blue-700: #1939b7;
$color-blue-800: #102693;
$color-blue-900: #091a7a;
