@use 'colors';

:root {
  --skel-base: #{colors.$color-gray-300};
  --skel-highlight: #{colors.$color-gray-400};
}

html.dark {
  --skel-base: #{colors.$color-gray-800};
  --skel-highlight: #{colors.$color-gray-700};
}
